body{
    font-family: Roboto, sans-serif;
    color: #212121;
    letter-spacing: 0.03em;
    background-color: #ffff;
    font-size: 16px;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;

}
ul p{
    color: #757575;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}
ul li{
    list-style: none;
}
.header-logo, .footer-logo {
    color: #2196F3; 
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    }
.webstudio-footer span{
    color: #ffff;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.header-logo span{
    color: #212121;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.webstudio-header{
    color: #212121;
}
.webstudio-header a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    letter-spacing: 0.02em;
}
.webstudio-header a:hover{
    color: #2196F3;
}
.webstudio-header a:focus{
outline: #188ce8;
}
.webstudio-grey a{
    color: #757575;
}
.webstudio-lightblue a{
    color: #757575;
}
.webstudio-lightblue a:hover{
    color: #2196F3;
}
.start-section{
    background-color: #2f303a;
}
.start-section h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #ffff;
    letter-spacing: 0.06em;
}
.start-section button{
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #ffff;
    letter-spacing: 0.06em;
    font-family: Roboto, sans-serif;
}
.start-section button:hover{
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.start-section button:focus{
    outline: #188ce8;
}
.section-button button{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    font-family: Roboto, sans-serif;
}
.section-button button:hover{
    color: #ffff;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.section-button button:focus{
    outline: #188ce8;
}
.section-main h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.section-main ul p{
    color: #757575;
    font-size: 16px;
    line-height: 30px; 
    font-weight: 400;
    letter-spacing: 0.03em;
}
.studio-sectionmain h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.studio-sectionmain p{
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
.section-topics h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.section-team{
    background-color: #f5f4fa;
}
.section-team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.section-team h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.section-team p{
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}
.webstudio-footer a{
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.webstudio-footer a:hover{
    color: rgba(255, 255, 255, 1);
}
.webstudio-footer{
    background-color: #2f303a;
    color: #757575;
}
.webstudio-footer .footer-adress a{
    color: #ffff;
}
